:root {
    --vp-c-white: #FFFFFF;
    --vp-c-black: #000000;
    --vp-c-gray: #8E8E93;
    --vp-c-text-light-1: #3C3C43;
    --vp-c-text-light-2: rgba(46, 45, 67, 0.75);
    --vp-c-text-light-3: rgba(46, 45, 67, 0.33);
    --vp-c-text-dark-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-dark-2: rgba(255, 255, 245, 0.6);
    --vp-c-text-dark-3: rgba(255, 255, 245, 0.38);
    --vp-c-green: #165DFF;
    --vp-c-green-light: #4080FF;
    --vp-c-green-lighter: #94BFFF;
    --vp-c-green-dark: #0E42D2;
    --vp-c-green-darker: #072CA6;
    --vp-c-green-dimm-1: rgba(14, 66, 210, 0.05);
    --vp-c-green-dimm-2: rgba(14, 66, 210, 0.2);
    --vp-c-green-dimm-3: rgba(14, 66, 210, 0.5);
    --vp-c-yellow: #D97706;
    --vp-c-yellow-light: #E1932E;
    --vp-c-yellow-lighter: #F0C986;
    --vp-c-yellow-dark: #B65D04;
    --vp-c-yellow-darker: #934602;
    --vp-c-yellow-dimm-1: rgba(182, 93, 4, 0.05);
    --vp-c-yellow-dimm-2: rgba(182, 93, 4, 0.2);
    --vp-c-yellow-dimm-3: rgba(182, 93, 4, 0.5);
    --vp-c-red: #F43F5E;
    --vp-c-red-light: #F66074;
    --vp-c-red-lighter: #FBA3A9;
    --vp-c-red-dark: #CA2748;
    --vp-c-red-darker: #A01535;
    --vp-c-red-dimm-1: rgba(202, 39, 72, 0.05);
    --vp-c-red-dimm-2: rgba(202, 39, 72, 0.2);
    --vp-c-red-dimm-3: rgba(202, 39, 72, 0.5);
    --vp-c-sponsor: #db2777;
}

:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg, #7d8ee9 10%, #2b36a0 100%);

    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #2b359f 30%, #5468ff 50%);
    --vp-home-hero-image-filter: blur(50px);
}